.frame_file {
	width: 100% !important;
	height: 100vh !important;
	position: absolute;
	background: linear-gradient(
		to bottom right,
		rgba(black, 0.8),
		rgba(black, 0.9)
	);
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
	z-index: 2;

	&:hover i {
		opacity: 1 !important;
	}

	i {
		color: white;
		background: black;
		margin: 0 !important;
		text-align: center;
		padding: auto;
		position: fixed;
		padding: 0 10px !important;
		cursor: pointer;
		z-index: 1000 !important;
		opacity: 0 !important;
		transition: all 0.2s ease-in !important;

		&:hover {
			opacity: 1 !important;
		}

		&:first-child {
			top: 50% !important;
			transform: translate(0, 0);
		}

		&:nth-child(2) {
			top: 50%;
			right: 0;
			transform: translate(0, 0);
		}

		&:nth-child(3) {
			top: 0;
			left: 50%;
			transform: translate(-50%) !important;
		}

		&.small-ic {
			font-size: 1em;
		}

		&.big-ic {
			font-size: 2em;
			padding: 10px 10px !important;
		}
	}

	.loader-c {
		z-index: 100000 !important;
	}
}

.file {
	// max-height: 100vh;
	// max-width: 100%;
	z-index: 100 !important;
	height: 100vh !important;
	width: auto !important;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 0 !important;
	margin: 0 !important;
}

.vid {
	z-index: 100 !important;
	height: 100vh !important;
	width: auto !important;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 !important;
	margin: 0 !important;
}
