.dashboard-grid {
	// background-color: #eee;
	// margin-left: 18rem !important;
	// padding: 1em;
}

.ui.left.visible.sidebar,
.ui.right.visible.sidebar {
	box-shadow: none !important;
	width: 18rem !important;
}

.ui.grid {
	margin: 0 !important;
}

.contain {
	box-sizing: border-box;
	padding: 3rem 0rem 0 0rem;
}

.contain.dash {
	margin-left: 18rem !important;
}

.nopadding {
	padding: 0 !important;
}

.navbar {
	border-radius: 0 !important;
	margin: 0 !important;
	border: 0;
	box-sizing: border-box;
	border-left: 1px solid rgba(black, 0.2) !important;
	margin-left: 18rem !important;
	font-size: 1.2rem !important;
}

.centered-buttons {
	text-align: right;
}

.centered-buttons .button {
	margin: 0 !important;
	text-align: center !important;
}

.centered-buttons .button i {
	margin: 0 !important;
}

.button-fix i {
	margin: 0 !important;
}

.add_album_button {
	// background-color: #21ba45 !important;
	background-color: white;
	position: absolute;
	border-style: dashed !important;
	min-height: 50px !important;
}

.add_album_button i {
	position: relative;
	top: 50% !important;
	left: 50% !important;
	transform: translateY(-50%) !important;
}

.dropzone:focus {
	outline: none !important;
}
