.img__header {
	background: linear-gradient(rgba(black, 0.4), rgba(black, 0.6)),
		url('/img/album.jpg');
	background-size: cover;
	position: relative;
	height: 100vh;
	width: 100%;

	div {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		span:not(:first-child) {
			display: block;
			font-size: 30px;
			letter-spacing: 1.8px;
			line-height: 1.5em;
			color: white;
		}
	}
}

.cli {
	text-align: center;
	padding: 7em 2em !important;
}

.pros {
	text-align: center;
	background: url('/img/pipes.png');
	padding: 4em 1em;
}

.about {
	text-align: center;
	padding: 4em 1em;
}

.footer {
	padding: 2.6em 1em;
	background: #111;
	text-align: center;
	color: #eee;
	font-size: 1.8em;
}
