.add_album_button {
	// background-color: #21ba45 !important;
	background-color: white;
	position: absolute;
	border-style: dashed !important;
}

.add_album_button_container div {
	position: relative;
	top: 50% !important;
	left: 50% !important;
	transform: translateY(100%) !important;
}

.add_album_button_container div i {
	color: #4183c4;
}
